/* Index */
body {
	background-image:url('b1.png');
	font-family: Georgia;
}
h1 {
	font-family: 'Loved by the King', Georgia;
	color: #927B5A;
	font-size: 60px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}
h2 {
	font-family: 'Ribeye', Times;
	font-size: 30px;
	color: #927B5A;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}
/*Checkout*/

span {
	font-family: 'Loved by the King', Georgia;
	font-size: 23px;
	font-style: bold;

}
/*Shop*/

#info {
	font-size: 15px;
}
#info a {
	text-decoration: underline;
}
#info a:hover {
	font-style: italic;
	color: white;
}
a {
	text-decoration: none;
	color: #927B5A;
}
#basket {
	font-family: 'Loved by the King', Georgia;
	color: #927B5A;
	font-size: 30px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 0px;

}

#content {
	background-color: none;
	padding: 0px;
	margin: 0px;
	font-family: Georgia;
}
#checkout {
	font-family: 'Loved by the King', Georgia;
	font-size: 30px;

}

#cup {
	 width: 500px; 
	 height: 332px; 
	 background-repeat: no-repeat;
	 font-family: 'Loved by the King', Georgia;
	 text-align: center;
}

#about {
	width: 450px;
	margin-left: 400px;
	font-family: 'Loved by the King', Georgia;
	text-align: center;
	}

#cart {
	display: inline;
	display: block;

}
#head {
	background-color: none;
}

#welcome {
	width: 300px;
	height: 260px;
	margin-left: 50px;
	margin-top: 90px;
}

#foot {
	background-color: #A4926B;
	background: linear-gradient(top, #A4926B 0%, #70583B 100%);
	background: -moz-linear-gradient(top, #A4926B 0%, #70583B 100%); 
	background: -webkit-linear-gradient(top, #A4926B 0%,#70583B 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	font-family: Wellfleet;
	border-radius: 10px;
	font-family: 'Loved by the King', Georgia;
}

img {
	display: inline;
}

/*SHOP */

#pic {
	width: 100px;
	height: 100px;
	margin: 0px auto;
	

}

.product {
	font-family: 'Loved by the King', Arial;
	font-size: 14px;
	width: 195px;
	height: 300px;
	border: none;
	display: inline; 
	display: block;
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 20px;
	text-align: center;
}

/*End Shop*/

/* Navigation Bar*/

#mainmenu ul {
	font-family: 'Loved by the King', Georgia;
	list-style: none;
	background-color: #A4926B;
	/*Setting the gradient for the navigation bar*/
	background: linear-gradient(top, #A4926B 0%, #70583B 100%);
	background: -moz-linear-gradient(top, #A4926B 0%, #70583B 100%); 
	background: -webkit-linear-gradient(top, #A4926B 0%,#70583B 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 40px;
	padding-left: 60px;
	padding-right: 30px;
	text-align: center;
	position: relative;
	border-radius: 10px;
	text-decoration: none;
	font-size: 30px;
}
 /*Setting the rounded gradient squares when a navigation menu item is hovered over*/
#mainmenu ul li:hover {
		background: ##927B5A;
		background: linear-gradient(top, #927B5A 0%, #70583B 40%);
		background: -moz-linear-gradient(top, #927B5A 0%, #70583B 40%);
		background: -webkit-linear-gradient(top, #927B5A 0%,#70583B 40%);
		font-family: 'Loved by the King', Georgia;
		border-radius: 10px ;
}

#mainmenu ul:after {
	content: "";
	clear: both;
	display: block;
	font-family: 'Loved by the King', Georgia;
}

#mainmenu ul li a{
	display: block;
	color: #F6EDDD;
	text-decoration: none;
	font-family: 'Loved by the King', Georgia;
}
#mainmenu ul li {
	display: inline;
	position: relative;
	text-align: center;
	float: left;
	margin-right: 50px;
	margin-left: 20px;
	font-family: 'Loved by the King', Georgia;
}
#mainmenu ul li:first-child{
	margin-left: 30%;
}
#mainmenu ul ul { 
	display: none;
}

/*End Navigation Bar*/

table {
	text-align: center;
	word-wrap: break-word;
	margin: 0px auto;
}

/*SEARCH BAR*/
/*setting the content within th text field*/
.cf:before, .cf:after{
    content:"";
    display:table;
}
 
.cf:after{
    clear:both;
}
 
.cf{
    zoom:1;
}

/* Search Form wrapper styling */
.form-wrapper {
    width: 450px;
    padding: 10px;
    margin: 20px auto 20px auto;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}
 
/* Search Form text input */
 
.form-wrapper input {
    width: 330px;
    height: 20px;
    padding: 10px 5px;
    float: left;    
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;      
}
 /*When text field is clicked on*/
.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
 /*For placeholder text inside text field*/
.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
 
.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    
 
/* Search Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #9E7A62;
    border-radius: 0 3px 3px 0;      
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}   
   
.form-wrapper button:hover{     
    background: #875B3E;
}   
   
.form-wrapper button:active,
.form-wrapper button:focus{   
    background: #D4B390;
    outline: 0;   
}
 /* Search left arrow */
.form-wrapper button:before { 
    content: '';
    position: absolute;
    border-width: 5px 5px 5px 0;
    border-style: solid solid solid none;
    border-color: transparent #D4B390 transparent;
    top: 12px;
    left: -6px;
}
 
.form-wrapper button:hover:before{
    border-right-color: #D4B390;
}
 
.form-wrapper button:focus:before,
.form-wrapper button:active:before{
        border-right-color: #875B3E;
}      
 
.form-wrapper button::-moz-focus-inner { 
    border: 0;
    padding: 0;
}    
/* End Search Bar */

#pay {
  	width: 150px;
    padding: 10px;
    margin: 20px auto 20px auto;
    border-radius: 2px;
    background: -webkit-linear-gradient(top, #927B5A 0%,#70583B 40%);
    color: white;
    font-family: 'Loved by the King', Georgia;
    font-size: 30px;
    border-right-color: #D4B390;
}

#pay button:hover:before{
    border-right-color: #D4B390;
}
 
#pay button:focus:before,
#pay button:active:before{
        border-right-color: #875B3E;
    }
#pay button:hover{     
    background: black;
}   
